{% extends 'base.html.twig' %}

{% block title %}Hello TypCategoController!{% endblock %}

{% block body %}
      <h1>Liste des articles <h1>


        <main class="container">
            <section class="row">
                <div class="col-12">
                    <h1>Liste des articles du type {{ type.nom }}</h1>
                </div>
            </section>
        </main>
{% endblock %}
